body {
  padding: 60px 100px 0 100px;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 70px;

  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 20px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: baseline;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn_1 {
  border: 1px solid rgba(25, 26, 35, 1);
  border-radius: 14px;

  padding: 20px 35px;
}

.btn_2 {
  border-radius: 14px;
  background-color: rgba(25, 26, 35, 1);
  padding: 20px 35px;
  color: rgba(255, 255, 255, 1);
}

h1 {
  font-size: 60px;

  padding: 0;
  margin: 0;
}

.col_wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 35px;
  width: 40%;
}

.col_wrapper_2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.col_wrapper_2 div {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.row_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 28px;
}

.min_p {
  font-size: 18px;
  line-height: 22.97px;
}

.row_left {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}

.row_left p {
  width: 580px;
}

h2 {
  padding: 0 7px;
  margin: 0;
  font-size: 40px;
  font-weight: 500;
  background: rgba(185, 255, 102, 1);
  border-radius: 7px;
}

h3 {
  padding: 0 7px;
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  line-height: 38.28px;
  border-radius: 7px;
}

h4 {
  padding: 0;
  margin: 0;
}

.card_wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.card_row {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.card {
  width: 100%;
  padding: 50px;
}

.card a {
  display: flex;
  gap: 15px;
}

.card span {
  padding: 4px 3px 3px 4px;
  vertical-align: bottom;
  background: rgba(25, 26, 35, 1);
  color: rgba(185, 255, 102, 1);
  border-radius: 100%;
}

.crd_1 {
  background: rgba(243, 243, 243, 1);
}

.crd_1 h3,
.crd_2 {
  background: rgba(185, 255, 102, 1);
}

.crd_2 h3,
.crd_3 h3 {
  background: rgba(255, 255, 255, 1);
}

.crd_3 {
  background: rgba(25, 26, 35, 1);
}

.crd_3 span {
  color: rgba(25, 26, 35, 1);
  background: rgba(255, 255, 255, 1);
}

.crd_3 p {
  color: rgba(255, 255, 255, 1);
}

.info {
  background: rgba(243, 243, 243, 1);
  padding: 60px;
}

.img_wrapper {
  height: 257px;
  object-fit: cover;
}

.info_2 {
  padding: 70px 60px;
  display: flex;
  flex-direction: row;
  gap: 64px;
  background: rgba(25, 26, 35, 1);
  color: rgba(255, 255, 255, 1);
}

.info_2 div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info_2 p {
  font-size: 18px;
  line-height: 22.97px;
}

.info_2 a {
  display: flex;
  gap: 15px;
  color: rgba(185, 255, 102, 1);
}

.info_2 a p {
  font-size: 20px;
  line-height: 28px;
}

.vertical_line {
  height: 100%;
  width: 1px;
}

.horizontal_line {
  height: 1px;
  width: 100%;
}

.bg_gray {
  background: rgba(243, 243, 243, 1);
}

.bg_white {
  background: rgba(255, 255, 255, 1);
}

.bg_green {
  background: rgba(185, 255, 102, 1);
}

.bg_black {
  background: rgba(25, 26, 35, 1);
}

.brd_shadow {
  border: 1px solid rgba(25, 26, 35, 1);
  border-bottom: 6px solid rgba(25, 26, 35, 1);
}

.brd_r45 {
  border-radius: 45px;
}

.team_card {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;
  padding: 40px 35px;
}

.person {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.person .icon {
  background: rgba(25, 26, 35, 1);
  color: rgba(185, 255, 102, 1);
  font-weight: 700;
  border-radius: 50%;
  padding: 4px 8px;
}

.person div {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}

.person .content {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.row_right {
  display: flex;
  justify-content: end;
}

.card_wrapper .btn_2 {
  width: 270px;
}

.col_25 {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.col_5 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
